.container {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
  }
  
  .top-row,
  .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .box {
    width: 20%;
    padding-bottom: 7.92%;
    border: 1px solid #fff;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .audio-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .music-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
  }
  
  p {
    margin: 0;
    color: black;
  }